<!DOCTYPE html>
{% load bootstrap4 %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulario de Clientes</title>
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>
  <h1>LISTA DE CLIENTES</h1>
  {% for cliente in object_list %}
    <h2>{{ cliente.nome }}</h2>
    <li>{{ cliente.email }}</li>
    <li>{{ cliente.data_aniversario }}</li>
    <li>{{ cliente.profissao }}</li>
    <li><a href={% url "listar_clientes" pk=cliente.id %}>EXIBIR</a></li>
    <li><a href={% url "editar_cliente" pk=cliente.id %}>EDITAR</a></li>
    <li><a href={% url "delete_cliente" pk=cliente.id %}>DELETE</a></li>
    <hr>
  {% endfor %}
</body>
</html>